@font-face {
  font-family: 朗倩;
  src: url(../font/MFLANGQIAN_NONCOMMERCIAL-REGULAR.OTF);
}
html {
  font-size: 100px;
}
body {
  background-color: #eee;
}
.hp_swiper .hp_search {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.hp_swiper .hp_search .search_bar {
  width: 100%;
  height: 32px;
  padding: 15px 0;
  display: -webkit-box;
  position: relative;
}
.hp_swiper .hp_search .search_bar .search_bar_c {
  margin: 0 20px;
  -webkit-box-flex: 1;
}
.hp_swiper .hp_search .search_bar .search_bar_c .s_input {
  display: -webkit-box;
  background-color: #fff;
  height: 28px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 0.8;
}
.hp_swiper .hp_search .search_bar .search_bar_c .s_input .s_icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 28px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hp_swiper .hp_search .search_bar .search_bar_c .s_input .s_inp {
  -webkit-box-flex: 1;
  width: 100%;
  padding-right: 10px;
}
.hp_swiper .hp_search .search_bar .search_bar_c .s_input .s_inp form {
  position: relative;
}
.hp_swiper .hp_search .search_bar .search_bar_c .s_input .s_inp form .s_form {
  -webkit-box-flex: 1;
}
.hp_swiper .hp_search .search_bar .search_bar_c .s_input .s_inp form .s_form input {
  width: 90%;
  border: none;
  height: 23px;
  margin-top: -13px;
  margin-left: 10px;
}
.shopChose {
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.shopChose .shopC_w {
  width: 100%;
}
.shopChose .shopC_w .shopC_c {
  padding: 5px 15px;
  position: relative;
}
.shopChose .shopC_w .shopC_c h3 {
  font-size: 16px;
  color: #000;
  display: inline-block;
  height: 18px;
  font-family: "微软雅黑";
  line-height: 18px;
}
.shopChose .shopC_w .shopC_c p {
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  margin-top: 2px;
}
.shopChose .shopC_w .shopC_c span {
  position: absolute;
  width: 15px;
  height: 15px;
  line-height: 15px;
  top: 25px;
  right: 15px;
}
.topShelf {
  width: 100%;
}
.topShelf .blank {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #F9FDE9;
}
.topShelf .blank .blank_w {
  padding: 5px 15px;
  background-color: #fff;
}
.topShelf .blank .blank_w .blank_con {
  height: 32px;
  text-align: center;
}
.topShelf .blank .blank_w .blank_con h3 {
  color: #FF900F;
  font-size: 18px;
  line-height: 32px;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#F48D02), to(#EDB60E));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.topShelf .blank .blank_w .blank_con a {
  float: right;
  line-height: 32px;
  font-size: 12px;
  position: relative;
  width: 45px;
  color: #747474;
}
.topShelf .blank .blank_w .blank_con a em {
  display: block;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 18px;
  height: 12px;
  background-image: url(../images/arrMore.png);
  background-repeat: no-repeat;
}
.topShelf .topShelf_con {
  background-color: orange;
  width: 100%;
}
.topShelf .topShelf_con .ts_c_w {
  width: 100%;
  height: 185px;
  position: relative;
}
.topShelf .topShelf_con .ts_c_w .left {
  width: 26%;
  padding: 10px 0 0 15px;
  float: left;
}
.topShelf .topShelf_con .ts_c_w .left h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.topShelf .topShelf_con .ts_c_w .left p {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
.topShelf .topShelf_con .ts_c_w .left img {
  width: 100%;
  max-width: 112px;
  margin-left: -10px;
  margin-top: 20px;
}
.topShelf .topShelf_con .ts_c_w .rt {
  background-color: #fff;
  width: calc(70% - 10px);
  position: absolute;
  top: 5px;
  right: 0;
  padding: 5px 0 0 10px;
  height: 93px;
}
.topShelf .topShelf_con .ts_c_w .rt h3 {
  font-size: 16px;
  color: #000;
  height: 24px;
  line-height: 24px;
}
.topShelf .topShelf_con .ts_c_w .rt p {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
.topShelf .topShelf_con .ts_c_w .rt span {
  display: block;
  width: 80px;
  height: 18px;
  border: 1px solid red;
  border-radius: 25px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  float: left;
  margin-top: 10px;
}
.topShelf .topShelf_con .ts_c_w .rt img {
  width: 52%;
  position: absolute;
  right: 5px;
  top: 5px;
  max-width: 160px;
}
.topShelf .topShelf_con .ts_c_w .rb {
  background-color: orange;
  width: 70%;
  position: absolute;
  bottom: 1px;
  right: 0;
  height: 80px;
}
.topShelf .topShelf_con .ts_c_w .rb .rbl {
  width: 50%;
  float: left;
  background-color: #fff;
  height: 100%;
  position: relative;
}
.topShelf .topShelf_con .ts_c_w .rb .rbl h3 {
  font-size: 14px;
  padding-left: 10px;
  height: 26px;
  line-height: 26px;
  margin-top: 5px;
}
.topShelf .topShelf_con .ts_c_w .rb .rbl p {
  font-size: 12px;
  padding-left: 10px;
  height: 16px;
  line-height: 16px;
}
.topShelf .topShelf_con .ts_c_w .rb .rbl img {
  width: 52%;
  max-width: 70px;
  position: absolute;
  right: 0px;
  top: 5px;
}
.topShelf .topShelf_con .ts_c_w .rb .rbr {
  width: calc(50% - 1px);
  float: right;
  background-color: #fff;
  height: 100%;
  position: relative;
}
.topShelf .topShelf_con .ts_c_w .rb .rbr h3 {
  font-size: 14px;
  padding-left: 10px;
  height: 26px;
  line-height: 26px;
  margin-top: 5px;
}
.topShelf .topShelf_con .ts_c_w .rb .rbr p {
  font-size: 12px;
  padding-left: 10px;
  height: 16px;
  line-height: 16px;
}
.topShelf .topShelf_con .ts_c_w .rb .rbr img {
  width: 52%;
  position: absolute;
  right: 0px;
  top: 5px;
  max-width: 70px;
}
.topShelf .bigBtns {
  width: 100%;
  height: 80px;
}
.topShelf .bigBtns .bigBtns-l {
  width: 50%;
  height: 100%;
  background: linear-gradient(#FD5A3A, #FF863C);
  float: left;
}
.topShelf .bigBtns .bigBtns-l a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 朗倩;
  color: #fff;
  line-height: 80px;
  font-size: 16px;
}
.topShelf .bigBtns .bigBtns-r {
  width: 50%;
  height: 100%;
  background: linear-gradient(#8A4EFC, #9C62FD);
  float: left;
}
.topShelf .bigBtns .bigBtns-r a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 朗倩;
  color: #fff;
  line-height: 80px;
  font-size: 16px;
}
.whp {
  border-bottom: 0px solid #d7d7d7;
  width: 100%;
  overflow: hidden;
}
.whp .blank {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.whp .blank .blank_w {
  padding: 5px 15px;
  background-color: #fff;
}
.whp .blank .blank_w .blank_con {
  height: 32px;
}
.whp .blank .blank_w .blank_con h3 {
  float: left;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}
.whp .blank .blank_w .blank_con a {
  float: right;
  line-height: 32px;
  font-size: 12px;
  position: relative;
  width: 45px;
  color: #747474;
}
.whp .blank .blank_w .blank_con a em {
  display: block;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 18px;
  height: 12px;
  background-image: url(../images/arrMore.png);
  background-repeat: no-repeat;
}
.whp .hp_list {
  margin-top: 0px;
  position: relative;
}
.whp .hp_list .list_w ul li {
  width: 50%;
  float: left;
  background-color: #fff;
  box-sizing: border-box;
}
.whp .hp_list .list_w ul li .carBox .img {
  width: 100%;
  min-height: 160px;
}
.whp .hp_list .list_w ul li .carBox .img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.whp .hp_list .list_w ul li .carBox .detail {
  width: 100%;
}
.whp .hp_list .list_w ul li .carBox .detail .det_w {
  padding: 10px;
}
.whp .hp_list .list_w ul li .carBox .detail .det_w h3 {
  font-size: 14px;
  width: 100%;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 微软雅黑;
  height: 24px;
  white-space: nowrap;
}
.whp .hp_list .list_w ul li .carBox .detail .det_w .price {
  color: #FF0000;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
}
.whp .hp_list .list_w ul li .carBox .detail .det_w .monthPay {
  color: #828282;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}
.whp .hp_list .list_w ul li:nth-child(even) {
  padding-left: 1px;
}
.whp .hp_list .list_w ul li:nth-child(odd) {
  border-right: 1px solid #eee;
}
.whp .hp_list .list_w ul li:nth-child(1),
.whp .hp_list .list_w ul li:nth-child(2) {
  margin-bottom: 1px;
}
.whp .hp_list .list_w .swiper-wrapper {
  background-color: #fff;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide {
  background-color: #fff;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link {
  display: block;
  float: left;
  width: 50%;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox {
  border-right: 1px solid #eee;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox .img {
  width: 100%;
  min-height: 160px;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox .img img {
  max-width: 100%;
  min-height: 160px;
  display: block;
  margin: 0 auto;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox .detail {
  width: 100%;
  background-color: #fff;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox .detail .det_w {
  padding: 10px;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox .detail .det_w h3 {
  font-size: 14px;
  width: 100%;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 微软雅黑;
  height: 24px;
  white-space: nowrap;
  text-align: left;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox .detail .det_w .price {
  color: #FF0000;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  text-align: left;
}
.whp .hp_list .list_w .swiper-wrapper .swiper-slide .link .carBox .detail .det_w .monthPay {
  color: #828282;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  text-align: left;
}
.whp .hp_list .slide-tip {
  position: absolute;
  right: 15px;
  top: 22px;
  width: 20px;
  height: 20px;
  color: #747474;
  font-size: 14px;
}
.whp .carBlank .blank_w {
  width: 50%;
  padding: 5px 0px;
  background-color: #fff;
  float: left;
}
.whp .carBlank .blank_w .blank_con h3 {
  width: 100%;
  text-align: center;
}
.whp_secCar .secCar_list .list_w ul li .secCarBox .detail .det_w .monthPay {
  color: #FF0000;
}
.mhp_footer .blank {
  position: relative;
  width: 100%;
}
.mhp_footer .blank .blank_w {
  padding: 5px 15px;
  background-color: #fff;
}
.mhp_footer .blank .blank_w .blank_con {
  height: 32px;
}
.mhp_footer .blank .blank_w .blank_con h3 {
  float: left;
  color: #FF900F;
  font-size: 18px;
  line-height: 32px;
}
.mhp_footer .blank .blank_w .blank_con a {
  float: right;
  line-height: 32px;
  font-size: 12px;
  position: relative;
  width: 45px;
  color: #747474;
}
.mhp_footer .blank .blank_w .blank_con a em {
  display: block;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 18px;
  height: 12px;
  background-image: url(../images/arrMore.png);
  background-repeat: no-repeat;
}
.mhp_footer .process {
  margin-top: 1px;
  background-color: #fff;
  position: relative;
}
.mhp_footer .process img:nth-child(1) {
  display: block;
  margin: 0 auto;
}
.mhp_footer .process img:nth-child(2) {
  width: 100%;
  max-width: 750px;
}
.mhp_footer .process p {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  bottom: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  opacity: 0.7;
}
.mhp_footer .process p:nth-child(4) {
  bottom: 30px;
  font-size: 12px;
}
