.order .order_con {
  padding: 50px 100px;
}
.order .order_con p:nth-child(1) {
  width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 35px;
}
.order .order_con table {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #DBDBDB;
}
.order .order_con table thead td {
  font-size: 16px;
  border: 1px solid #DBDBDB;
  text-align: center;
  height: 42px;
}
.order .order_con table thead td:nth-child(1) {
  width: 40%;
}
.order .order_con table thead td:nth-child(2) {
  width: 15%;
}
.order .order_con table thead td:nth-child(3) {
  width: 15%;
}
.order .order_con table thead td:nth-child(4) {
  width: 30%;
}
.order .order_con table tbody td {
  height: 95px;
  border: 1px solid #DBDBDB;
  font-size: 16px;
  text-align: center;
}
.order .order_con p:nth-child(3) {
  width: 1200px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  margin-top: 35px;
}
.order .order_con p:nth-child(3) span {
  color: red;
}
.order .order_con .btn {
  width: 1200px;
  margin: 35px auto;
}
.order .order_con .btn a {
  float: right;
  width: 160px;
  height: 45px;
  background-color: #FF8F00;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.pS {
  width: 100%;
  min-height: 350px;
}
.pS .pS_con p {
  width: 1200px;
  margin: 50px auto;
  text-align: left;
  font-size: 24px;
  color: #ca141d;
  font-weight: 700;
}
